body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #000000;
}

header {
    background-color: #24aca1;
    color: white;
    padding: 20px;
    text-align: center;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: rgb(102, 206, 202);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card h2 {
    margin-top: 0;
    color: #2c3e50;
}

progress {
    width: 100%;
    height: 20px;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #3498db;
    color: white;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2390ab;
    color: white;
}
